body {
    padding: 0;
    margin: 0;
}

.alt6502 {
    position: relative;
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr 100px;
}

canvas {
    border: 1px solid black;
}

header {
    grid-area: header;
    border: 1px solid red;
}

main {
    grid-area: main;
    border: 1px solid green;
}

footer {
    grid-area: footer;
    border: 1px solid yellow;
}

aside {
    grid-area: aside;
    border: 1px solid blue;
}


.scaling-popup {
    position: absolute;
    top: calc((100vh - 200px) / 2);
    right: calc((100vw - 400px) / 2);
    width: 400px;
    height: 200px;
}