:root {
    --color-0: #abc583;
    --color-1: #a59252;
    --color-2: #9ba78e;
    --color-3: #221b12;
    --color-4: #F9F871;
    --color-5: #D1C45B;
}

@font-face {
    font-family: 'llpixelregular';
    src: url('./font/llpixel/llpixel3-webfont.woff2') format('woff2'),
        url('./font/llpixel/llpixel3-webfont.woff') format('woff'),
        url('./font/llpixel/llpixel3-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('./image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'llpixelregular';
}


#alt6502 {
    width: 80%;
    margin: 0 auto 0 auto;
}

/** == HEADER ========================================= **/

#alt6502 header {
    color: var(--color-5);
    background-color: var(--color-3);
    text-align: center;
    border-radius: 5px;
    border: 3px solid var(--color-2);
}

#alt6502 header h1 {
    margin: 0px;
    font-size: 2em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px var(--color-4), 0 0 30px var(--color-4), 0 0 40px var(--color-4), 0 0 55px var(--color-4), 0 0 75px var(--color-4);
}

#alt6502 header h1 strong {
    position: relative;
    font-size: 2em;
}

/** == MAIN ========================================= **/

#alt6502 main {
    display: flex;
}

#alt6502 main section {
    background-color: var(--color-3);
    flex-basis: 50%;
    border: 3px solid var(--color-2);
    border-radius: 5px;
    margin-top: 10px;
}

#alt6502 main section:first-child {
    margin-right: 10px;
}

/** == LOGGING ========================================= **/

.logging-table {
    height: 82vh;
    margin: 20px 0 20px 20px;
}




.logging-table table .address-bin-column {
    width: 30%;
}

.logging-table table .data-bin-column {
    width: 15%;
}

.logging-table table .range-bin-column {
    width: 9%;
}

.logging-table table .address-hex-column {
    width: 10%;
}

.logging-table table .data-hex-column {
    width: 9%;
}

.logging-table table .range-hex-column {
    width: 9%;
}

.logging-table table .rw-column {
    width: 9%;
}

.logging-table table .irq-column {
    width: 9%;
}


/** features **/

#alt6502 .logging-table table tbody tr[data-address=FFFC] td,
#alt6502 .logging-table table tbody tr[data-address=FFFD] td {
    background-color: var(--color-4);
}

#alt6502 .logging-table table tbody tr:not([data-address]) td {
    background-color: var(--color-4);
}



/** == FORM GLOBAL ========================================= **/

select, button {
    font-size: 0.6em;
    border-radius: 5px;
    background-color: var(--color-5);
}

button {
    background-color: var(--color-4);
    margin-left: 10px;
    padding: 5px;
}

#alt6502 section.form {
    font-size: 1.5em;
}

#alt6502 section.form div.command {
    text-align: right;
}


/** == FORM ========================================= **/

#alt6502 section.form fieldset {
    background-color: var(--color-1);
    padding: 10px;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    border: 1px solid var(--color-4);
}

#alt6502 section.form fieldset legend {
    background-color: var(--color-1);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: var(--color-4);
    padding: 5px 10px 0 10px;
}

#alt6502 section.form fieldset legend img {
    height: 30px;
    width: 30px;
}

#alt6502 section.form fieldset div.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

#alt6502 section.form fieldset label {
    flex-basis: 200px;
    margin-bottom: 10px;
}

#alt6502 section.form fieldset div.field :nth-child(2n+2) {
    flex-grow: 1;
    flex-basis: calc(100% - 220px);
    margin-bottom: 10px;
}

#alt6502 section.form fieldset div.field #runSpeed {
    direction: rtl;
}


/** == TABLE ========================================= **/





/** == MEMORY TABLE ================================== **/


#alt6502 .memory-table-container {
    height: 82vh;
    margin: 20px 0 20px 20px;
}

#alt6502 table tr.type-0 {}

#alt6502 table tr.type-1 {}

#alt6502 table tr.type-2 {}


/** SCROLLABLE TABLE =========================================== **/

#alt6502 table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    font-family: "Lucida Console", Courier, monospace;
}

#alt6502 table thead {
    /*
        https://jsfiddle.net/tsayen/xuvsncr2/28/
        head takes the height it requires,     and it's not scaled when table is resized
    */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

#alt6502 table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

#alt6502 table tbody tr {
    width: 100%;
}

#alt6502 table thead {
    width: calc(100% - 17px);
}

#alt6502 table thead,
#alt6502 table tbody tr {
    display: table;
    table-layout: fixed;
}

#alt6502 table th {
    background-color: var(--color-1);
    border: 1px solid var(--color-4);
}

#alt6502 table td {
    background-color: var(--color-0);
    border: 1px solid var(--color-4);
}